body {
  font-family: "Raleway", sans-serif;
}

.bg-nav{
  background-color:rgb(200, 165, 233) ;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#Mis-trabajos{
  background-color: rgb(200, 165, 233);
}
/* Contacto */
.bg-footer{
  background-color: rgb(200, 165, 233);
}

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
